@font-face {
  font-family: "Open_Sans";
  font-weight: normal;
  font-style: normal;
  src: url("./Assets/Fonts/Open_Sans/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open_Sans";
  font-weight: bold;
  font-style: normal;
  src: url("./Assets/Fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open_Sans";
  font-weight: normal;
  font-style: italic;
  src: url("./Assets/Fonts/Open_Sans/static/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "Open_Sans";
  font-weight: bold;
  font-style: italic;
  src: url("./Assets/Fonts/Open_Sans/static/OpenSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Biolinum";
  font-weight: normal;
  font-style: normal;
  src: url("./Assets/Fonts/Biolinum/LinBiolinum_R.otf");
}

@font-face {
  font-family: "Biolinum";
  font-weight: bold;
  font-style: normal;
  src: url("./Assets/Fonts/Biolinum/LinBiolinum_RB.otf");
}

@font-face {
  font-family: "Biolinum";
  font-weight: normal;
  font-style: italic;
  src: url("./Assets/Fonts/Biolinum/LinBiolinum_RI.otf");
}

@font-face {
  font-family: "Biolinum";
  font-weight: bold;
  font-style: italic;
  src: url("./Assets/Fonts/Biolinum/LinBiolinum_RBO.otf");
}

body {
  margin: 0;
  font-family: "Open_Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
}